@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid lightblue !important; */
}

#webGL-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -50;
}

*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
background: #1A1B41;
}

*::-webkit-scrollbar-thumb {
background-color: #D67AB1;
border-radius: 13px;
}